window.BYTEM_CONFIG = {
  API_HOST: 'https://DOMAIN_PLACEHOLDER',
  MATRIX_SERVER: 'https://matrix.DOMAIN_PLACEHOLDER',
  APP_SERVER: 'https://DOMAIN_PLACEHOLDER',
  EXCHANGE_SERVER: 'https://DOMAIN_PLACEHOLDER'
};
